.assi-1 div{
    display :inline-block ;
    background-color:rgb(165, 165, 165);
    outline:5px solid black; 
    padding:30px ;
    margin:10px ;
    width:60px;
}

.assi-1 .assign-1-shape-1{
  border:5px solid red ;
}
.assi-1 .assign-1-shape-2{
  border:5px solid  ;
  border-color:blue green ;
}
.assi-1 .assign-1-shape-3{
  border:5px dashed ; 
  border-color: red green blue yellow;
}

.assi-2 div { 
    width:400px;
    background-color: #eee;
    padding: 20px;
    margin:10px;
    outline:8px solid #eee;
}
.assi-2 .assign-2-shape-1{
    border-left: 7px solid #e93572 ;
}
.assi-2 .assign-2-shape-2{
    visibility: hidden;
    /* display: none */
}
.assi-2 .assign-2-shape-3{
    border-left: 7px solid #0b9a8d ;
}