.shadow {
  text-shadow: 1px 1px 0 #e84033, 2px 2px 0 #2196f3, 3px 3px 0 #9c27b0;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}
/* Assignment 2*/
p{
    text-align : center;
}
.one{
    text-transform:uppercase ;
}
.two {
    text-transform :capitalize;
}

.three {
    text-transform :lowercase;
}

/* Assignment 3 */
.assig3-shape1 ,.assig3-shape2 ,.assig3-shape3{
    width : 400px;
    padding : 20px ;
    margin-bottom : 10px;
    background-color :#EEE; 
}

.assig3-shape3{
  white-space : nowrap; 
  overflow : hidden ;
  text-overflow: ellipsis;
  
}
/* Assignment 4 */
.assig4{
    text-transform: capitalize;
    color : white ;
    background-color : #009688 ;
    border-bottom: 5px #00514a solid;
    padding : 10px 15px ;
    display :inline-block ;
    text-decoration : none;
    border-radius: 5px;
}
